body {
    /* background-image: url(assets/blurry-gradient-haikei\(1\).svg); */
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
}

.row {
    justify-content: center;
}

.form-control {
    width: 119px;
}

@media only screen and (max-width: 600px) {
    .form-control {
        width: 100px;
        height: fit-content;
    }
}

.title {
    font-family: Ubuntu, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 30px;
}