body {
  background-color: #0e213b;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  padding-top: 20px;

}

.form-control {
  width: 119px;
}

.form-check {
  display: flex;
}

.rest {
  padding: 10px;
  border: 20px;
  border-width: 200px;
  height: 180px !important;
  overflow: scroll;
}

table {
  border-radius: 70px;
}

.mapouter {
  background-image: url(../images/90OK.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
  height: 280px;
}