body {
  background-color: #0e213b;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  padding-top: 20px;

}

.form-check {
  display: flex;
}

.rest {
  padding: 10px;
  border: 20px;
  border-width: 200px;
  height: 180px !important;
  overflow: scroll;
}

table {
  border-radius: 70px;
}

.mapouter {
  height: 300px;
}

.pointclick {
  cursor: pointer;
}

.pointclick:hover {
  cursor: pointer;
  background-color: #1160b4;
}

.totalbox {
  font-family:  Ubuntu;
  background-color: #1160b4;
  border-radius: 10px;
  text-align: center;
}