body {
  /* background-image: url(/assets/images/blob-scene-haikei.svg); */
  background-color: #ebf3fb;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
}

.row {
  justify-content: center;
}

.form-control {
  width: 119px;
}

.filter{
  padding: 15px;
  text-align: start;
}

.form-check{
  display: flex;
}

@media only screen and (max-width: 600px) {
  .form-control {
    width: 100px;
    height: fit-content;
  }
}

.title {
  font-family: Ubuntu, sans-serif;
  color: rgb(28, 92, 228);
  font-weight: bold;
  font-size: 30px;
}

.bot:hover {
  background-color: #333434;
}

.rest {
  padding: 10px;
  border: 20px;
  border-width: 200px;
  height: 200px !important;
  overflow: scroll;
}
