body {
  background-color: #0e213b;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;

}

.form-check {
  display: flex;
}

.rest {
  padding: 10px;
  height: 200px !important;
  overflow-y: auto;
}

table {
  border-radius: 70px;
}

.mapouter {
  height: 250px;
}

.pointclick {
  cursor: pointer;
}

.pointclick:hover {
  cursor: pointer;
  background-color: #1160b4;
}

.totalbox {
  font-family: Ubuntu;
  background-color: #1160b4;
  border-radius: 5px;
  text-align: center;
}